@model UserRegistrationApp1.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit User";
}



<!-- Top-right: Back to List + Disable -->
<div class="position-absolute top-15 end-0 m-3 d-flex align-items-center gap-3">
    <a href="/Account/Index" class="btn btn-outline-secondary">Back to List</a>

    
</div>



<h2 class="text-center mb-4">Edit User</h2>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
        
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="DOB" class="form-label"></label>
            <input asp-for="DOB" class="form-control" type="date" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Gender" class="form-label d-block"></label>
            <div>
                <input type="radio" asp-for="Gender" value="Male" /> Male
                <input type="radio" asp-for="Gender" value="Female" class="ms-3" /> Female
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
            <label asp-for="Address" class="form-label"></label>
            <textarea asp-for="Address" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

    
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
